<header>
    <div style="background-color: chocolate;" >
        <ul style="list-style-type: none; padding: 0;margin: 0; display: flex; gap: 10px;">
            <li>
                <a [routerLink]="['']">home</a>
            </li>
            <li>
                <a [routerLink]="['all-course']">all-course</a>
            </li>
            <li>
                <a [routerLink]="['bloging']">bloging</a>
            </li>
            <li>
                <a [routerLink]="['contact']">contact</a>
            </li>
            <li>
                <a [routerLink]="['pages']">pages</a>
            </li>
            

        </ul>
    </div>
</header>
<router-outlet></router-outlet>
<footer style="background-color: forestgreen;">footer</footer>